@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);

:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #000;
    --color-purple-100: #333;
    --color-purple-900: #444;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-900))
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
    animation: dark-to-light 0.3s ease-in-out;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-header h1{
    font-size: 2.5rem;
    position: relative;
}

.form-header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    background: var(--color-purple-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}

#mode_icon {
    cursor: pointer;
    font-size: 1.25rem;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media img {
    width: 35px;
}

.social-media img:hover {
    transform: scale(1.2);
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field { 
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}

.input-field i {
    font-size: 1.12rem;
    color: var(--color-dark-900);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 1.12rem;
    padding: 0px 5px;
}

/* tirar a bordar ao redor do input field quando o mesmo e clicado */
.input-field input:focus {
    outline: none;
}

.forgot-password a {
    text-decoration: none;
    font-size: 0.75rem;
    color: var(--color-dark-50);
}

.forgot-password a:hover {
    color: var(--color-purple-50);
}

#login-button {
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 1.12rem;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login-button:hover {
    transform: scale(1.05);
}

.dark#login-form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}

/* .dark#container {
    background: var(--color-dark-50);
} */

.dark#login-form .input-field input,
.dark#login-form .input-field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0% {
        background-color: var(--color-dark-100);
    }
    100% {
        background-color: var(--color-light-50);
    }
}
@keyframes light-to-dark {
    0% {
        background-color: var(--color-light-50);
    }
    100% {
        background-color: var(--color-dark-100);
    }
}