/* navbar */
.navbar {
    height: 180px;
    position: relative;
}

.navbar-container {
    flex-direction: column;
    padding: 20px 0;
}

.navbar-itens {
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.navbar-itens li:nth-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.showcase-container {
    padding: 40px;
}

/* clients */
.clients-container {
    grid-template-columns: repeat(2, 1fr);
}

.client {
    width: 50%;
}

/* features */
.features-container {
    grid-template-columns: 1fr;
}

.features-container .feature:nth-child(2) {
    margin: 15xp 0;
}

.product-container {
    flex-direction: column;
}

.itens {
    width: 90%;
}

.item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* testimonials */
.testimonial {
    flex-direction: column;
    text-align: center;
}

/* gallery */
.gallery-container {
    grid-template-columns: 1fr;
}

.gallery-image {
    width: 100%;
}